/* color of main text #757575 */
/* secondary color of the text #212121 */
/* basic white text #FFFFFF */
/* white text in the address rgba(255, 255, 255, 0.6) */
/* blue text #2196F3 */
/* first background color #F5F5F5 */
/* secondary background color #F5F4FA */
/* cap and footer background color #2F303A */

:root{
    --primary-text-color: #757575;
    --tittle-text-color:  #212121;
    --accent-color: #2196F3;
    --basic-white-text: #FFFFFF;
    --white-text-address: rgba(255, 255, 255, 0.6);
    --first-background-color: #F5F5F5;
    --secondary-background-color: #F5F4FA;
    --cap-footer-background-color: #2F303A;
}

body{
    background-color: #FFFFFF;
    color: #757575;
    font-family:  'Roboto'; 'Tahoma', sans-serif;
}
/* font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px */

 
/*font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em; */


/* header */

.logo{
    color: #2196F3;
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1,2;
}
.logo-header{
    color: #000000;
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1,2;
}
.nav .nav-link.current{
    color: var(--accent-color);
}
.nav-link,
.nav-link.current{
    font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1,14; 
}
.mail-tel{
    font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1,14;
color: #757575;
}


/* main */

.cap > h1{
    font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1,36;
}
.order{
    Font family: 'Roboto';
Font style: Bold;
font-weight: 700;
Font size: 16px;
Line height: 1,88;
}
.section-tittle{
    Font family: 'Roboto';
Font style: Bold;
font-weight: 700;
Font size: 14px;
Line height: 1,14;
}
.features p{
    Font family: 'Roboto';
Font size: 14px;
Line height: 1,71;
}
h2{
    Font family: 'Roboto';
font-weight: 700;
Font size: 36px;
Line height: 1,17; 
}
.filters-button{
    Font family: 'Roboto';
font-weight: 500;
Font size: 16px;
Line height: 1,62;
}
.proects-link > h3{
    Font family: 'Roboto';
font-weight: 700;
Font size: 18px;
Line height: 2;
}
.proects-link > p{
    Font family: 'Roboto';
Font size: 16px;
Line height: 1,88;
}
.list{
    list-style: none;
}
.proects-link,
.nav-link{
    color: #212121;
}
.order{
    cursor: pointer;
}
.cap{
    background-color: #2F303A;
    color: #ffffff;
}
.section-tittle{
    color: #212121;
}

/* -hover-focus-active- */

.nav-link:focus,
.address-mail-tel:focus,
.footer-mail-tel:focus,
.mail-tel:focus{
    color: var(--accent-color);
}
.nav-link:hover,
.address-mail-tel:hover,
.footer-mail-tel:hover,
.mail-tel:hover{
    color: #2196F3;
}

.order:hover, .order:focus,
.filters-button:hover,
.filters-button:focus{
    color: #ffffff;
    background-color: #2196F3;
}
.filters-button:active{
    color: #e70f33;
}


/* footer */
.footer{
    background-color: #2F303A;
}
.logo-footer{
    color: #ffffff;
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1,2;
}
.footer li{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1,7px;
}

.address-mail-tel{
    color: #ffffff;
}
.footer-mail-tel{
    color:rgba(255, 255, 255, 0.6) ;
}
